@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom, slate, purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.routeText {
  @apply text-white font-bold hover:cursor-pointer h-10 px-6 py-1;
}
.name {
  font-family: "Rubik Distressed", cursive;
  @apply text-5xl text-white h-16 mt-[-10px] w-[200px];
}
.about {
  font-family: "Lato", sans-serif;
  @apply h-[400px] w-[600px] text-white mt-20 ml-44 p-8;
}
.aboutHeading {
  font-family: "Merriweather", serif;
  @apply text-xl font-bold;
}
.contactButton {
  @apply border-2 border-white rounded-full h-[60px] w-[400px] md:h-[60px] md:w-[600px] text-white text-2xl py-2 font-bold flex my-6 justify-center;
}
.icon {
  @apply py-1 text-2xl;
}
